<IfModule mod_rewrite.c>
RewriteEngine On
Options +FollowSymLinks
RewriteRule ^/api/v1/(.*)$ /ikiosk/index.php?request=$1 [R=301,L]
</IfModule>

DirectoryIndex index.html index.php
# php_value  upload_max_filesize  20M
# php_value  max_post_size  20M

