<IfModule mod_rewrite.c>
RewriteEngine On
RewriteRule ^/api/v1/([^\.]+).(xml|json|atom) /api/v1/index.php?request=$1&type=$2
</IfModule>

DirectoryIndex index.html index.php
# php_value  upload_max_filesize  20M
# php_value  max_post_size  20M

