#cmsUILogin {
	.btn {
		padding: 6px 12px;
	}
	input[type="text"], input[type="password"] {
		padding-left: 10px;
		background: #FFF;
	}
}

#iKioskCMSheader {
	position:fixed;
	width:100%;
	top:0px;
	z-index:1000;

	
	#header {
		background: #225074;
		border-top: 2px solid #000;
		box-shadow: 0px 6px 12px rgba(0,0,0,.3);

		.btn-header>:first-child>a {
			border-radius: 0px;
			background: #1F4A6C;
			border: 1px solid #1B415E !important;
			color: #CCC;
			cursor: pointer;
			
		}

		.btn-header>:first-child>a:hover {
			background: #1F4A6C;	
			color:#FFF;
			cursor:pointer !important;
		}
		
		.header-search>input[type=text] { 
			background: #1F4A6C;
			border: 1px solid #1B415E;
			color:#FFF;
		}
		
		#logo-group span {
			display:inline-block;
			color: #FFF;
			text-transform:uppercase;
			font-family: "Open Sans",Arial,Helvetica,Sans-Serif;
			font-weight:300;	
			padding:15px;
			font-size:14px;
		}
		
		#logo-group {
			width: auto;
		}
		
		.btn-header a.active {
			background-color:#000000 !important;
			color:#FFF;
			border: 1px solid #FFF !important;
		}
	}
}

#iKioskCMSwrapper {
	position:relative;
	margin-top:51px;
}

#systemDebug {
	.debug-variable {
		font-weight:600;
	}
	.debug-value {
		max-width: 300px;
		overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;	
	}
	.tab-content {
		height:400px;
		overflow-y:scroll;
	}
}

#iKioskCMSeditor {
	display:none;
	padding:5px;
	.redactorHeader {
		background-color:#F7F7F7;
		padding:10px;
		margin-bottom:5px;
		border: 1px dotted #DDD;
	}
	
	
	#redactorEditor {
		&.cms-layout-grid {
			article, aside, blockquote, canvas, div, footer, h1, h2, h3, h4, h5, h6, header, ol, p, ul, section, table, video {
				outline: 1px dotted #DDD;
				min-height:25px;
			}
			.cms-element-hover {
				outline: #2c699d solid 1px;
			}
		}
		.ui-sortable {
			display: block; 
			overflow: hidden;
		}
	}
}

.align-right {
	text-align:right;
}

.align-center {
	text-align:center !important;
}

.modal {
	.smart-form {
		.modal-header { 
			padding: 15px;
 		 }
		.modal-body { padding: 20px; }
		.modal-footer { 
			margin-top: 15px;
			padding: 19px 20px 20px;
		}
		.btn {
			padding: 6px 12px;
		}
	}
	.modal-title {
		font-weight:400;	
		letter-spacing: -1px;
		color:#333;	 
	}
	.datepicker {
		z-index:3000;
	}
}

@media only screen and (max-width : 480px) {
	.debug-value, .debug-variable {
		max-width: 190px !important;
	}
}

@media only screen and (min-width : 768px) {
	.modal-dialog {
		width: 700px;
	}
}

@media only screen and (min-width : 992px) {
	.modal-dialog {
		width: 900px;
	}
}

.smart-form {
 fieldset {
	background-color: #FDFDFD;
		header {
			margin-bottom:25px;
			margin-left:0px;
			margin-right:0px;
			margin-top:0px;
			background-color:transparent;
		}
	}
	.note {
	  margin-bottom:6px;
	  margin-top:-4px;  
  }
}

.icon {
	text-align:center;
}
.delete-record, .icon-action {
	cursor:pointer;
	color:rgba(0,0,0,0.75);
}

.btn-primary.icon-action {
	color:#FFF;
}

.delete-record i, icon-action i {
		font-size:16px;
		text-align:center;
}

button.icon-action {
	color:#FFF;
}

.btn-add {
	float:right;
	margin-left:10px;
}

.hidden-panel {
	display:none;
}

pre.prettyprint {
	padding:10px !important;
}

pre.html {
	height:500px;
}

.smart-form .col-12 {
	width:100%;
}

.pb10 {
	padding-bottom:10px;
}

.form-header {
	border-bottom: 1px dashed rgba(0,0,0,.2);
	padding: 8px 0;
	margin-bottom:15px;
}

.ui-sortable .jarviswidget-sortable>header {
		box-shadow: none;
}

.jarviswidget>div {
	border-bottom: 1px solid;
}

.table>thead>tr>th {
		border-bottom: 	1px solid #ddd; 

}

td.icon {
	width:50px;
}

@media (max-width:640px) {
	.dataTable tr th, .dataTable tr td {
		display:none;
	}
	
	.dataTable tr th:first-child, .dataTable tr td:first-child, .dataTable tr th:last-child, .dataTable tr td:last-child  {
		display:table-cell;
	}
	
	.dt-toolbar div:last-child {
		padding-left:0px;
	}
	
	.dt-toolbar .btn-add {
		display:block;
		float:left;
		width:160px;
		margin-left:0px;
	}
	
	.dt-toolbar>:last-child .dataTables_length {
		float:left;
		margin-left:5px;		
	}
	
	div.dataTables_paginate {
		float:left;
	}
	.dt-toolbar-footer>:last-child, .dt-toolbar>:last-child {
		padding-left:0px;
	}
}
.modal-header, .modal-footer {
		background-color:#F7F7F7;		
}

.smart-form .label {
	font-weight:600;	
}
#dynamicModal {
	.modal-footer {
		margin-top:0px;	
	}
}

.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover {
	background:#FDFDFD;
}

.icon {
	text-align:center;
}
.delete-record, .icon-action {
	cursor:pointer;
	color:rgba(0,0,0,0.75);
}

.btn-primary.icon-action {
	color:#FFF;
}

.delete-record i, icon-action i {
		font-size:16px;
		text-align:center;
}

button.icon-action {
	color:#FFF;
}

@media (max-width:640px) {
	.dataTable tr th, .dataTable tr td {
		display:none;
	}
	
	.dataTable tr th:first-child, .dataTable tr td:first-child, .dataTable tr th:last-child, .dataTable tr td:last-child  {
		display:table-cell;
	}
	
	#dynModalWrapper #dynModalContent .qq-uploader .qq-upload-drop-area.hidden-mobile {
		display:none !important;	
	}
}

#dynModalWrapper {
	position:relative;
	z-index:2500;
	background-color:#000;
	overflow:hidden;
		
	#cms-menu {
	  	position: absolute;
    	top: 13px;
    	right: 10px;
		cursor:pointer;
		z-index:30;
		padding: 6px 12px;
		border-radius: 2px;
		border: 1px solid #CCC;
		&:hover {
			text-decoration:none;
		}
	}
	#dynModalContent {
		position:relative;
		z-index:20;
		background-color:#FFF;
		min-height:328px;	
		.modal-body  {
			min-height:200px;	
		}
		
		#photoList {
			width:100%;
			overflow:hidden;
			
		}
		
		#cms-editPhoto {
			display:none;
		}
		.superbox-close {
			top:8px;
			right:8px;
		}
		.superbox-show {
			#cms-editPhoto {
				display:block;
				.label {
					color:#FFF;
				}
			}
			
			.superbox-imageinfo {
				display:block;
				max-width:none;
				span {
					display:none;
				}
			}
			.superbox-current-img {
				float:none;
			}
			
		}
		
		.superbox-list {
			 a:hover {
				 text-decoration:none; 
			 }
			 .note {
				text-align:center;
				overflow: hidden;
				text-overflow: ellipsis;
				white-space: nowrap;	
			 }
		}
		.qq-uploader {
			.qq-upload-drop-area {
				display:block !important;
				border: 1px dashed #BBB;
				color: #ccc;
				text-align:center;
				background:#FEFEFE;
				padding:25px;
				margin-bottom:15px;
			}
			.qq-upload-list {
				margin-top:10px;
				padding: 0px;
				list-style-type: none;
			}
			.qq-upload-list li {
				display: block;
				list-style-type: none;
				padding: 5px;
				border: 1px dashed #BBB;
				background:#FEFEFE;
				border-radius: 3px;
				margin-bottom:5px;
				
			}
			.qq-upload-file, .qq-upload-spinner, .qq-upload-size, .qq-upload-cancel, .qq-upload-failed-text {
				margin-right: 7px;
			}
		}
		table {
			min-height: 115px;
		}
		
		.hide-me {
			display:none;
		}
		
		.enhanced-well {
			width:100%;
			overflow:hidden;
			border: 1px solid #F2F2F2;
			background-color: #F6F6F6;
			padding:10px;
			margin-bottom:10px;
		}
		
		iframe {
			width:100%;
			height:300px;
			overflow-x: scroll;
			border: 1px solid #F2F2F2;
	
		}

		.file-wrapper {
			text-align: center;
			margin-bottom: 10px;
			padding: 15px;
			border: 1px solid #FFF;
			min-height:115px;
			&:hover {
				border: 1px solid #F2F2F2;
				background-color: #F6F6F6;
			}
			.icon-link {
				color:#999;
			}
			.icon-image {
				max-width:100%;
				max-height:52px;
			}
			.file-title {
				padding-top:10px;
				overflow: hidden;
				text-overflow: ellipsis;
				white-space: nowrap;	
				.icon-text {
					color:#3276b1;
				}
			}
			
			
			
		}

	}
	
	#dynModalMenu {
		display: none;
    	position: absolute;
   		top: 40px;
   		right: 0;
    	width: 190px;
		z-index: 10;
		ul {
			padding: 20px;
			margin: 0;
			list-style: none;
			background: #000;
			a {
				display:block;
				color:#CCC;
				padding-bottom:15px;
				&:hover {
					text-decoration:none;
					color:#FFF;
				}
				i {
					padding-right:5px;
				}
			}
		}
	}
}

#dynModalWrapper.animating #dynModalMenu, #dynModalWrapper.menu-visible #dynModalMenu {
  display: block;
}

#dynModalWrapper.animating #dynModalContent, #dynModalWrapper.animating #cms-menu {
  transition: transform .25s ease-in-out;
  -webkit-transition: -webkit-transform .25s ease-in-out;
}

#dynModalWrapper.animating.left #dynModalContent {
  transform: translate3d( -200px, 0, 0 );
  -webkit-transform: translate3d( -200px, 0, 0 );
}

#dynModalWrapper.animating.right #dynModalContent {
  transform: translate3d( 200px, 0, 0 );
  -webkit-transform: translate3d( 200px, 0, 0 );
}

#dynModalWrapper.menu-visible #dynModalContent {
  right: 200px;
}

#dynModalWrapper.menu-visible #cms-menu, #dynModalWrapper.animating.left #cms-menu {
	color: #666;
	background-color:#000000;
	border: 1px solid #666;	
}

#dynModalWrapper.animating.right #cms-menu {
	color: #333;
	background-color:#FFF;
	border: 1px solid #CCC;	
}

.tooltip {
	z-index:40000 !important; 
}

#iKioskCMSwrapper {
	position: relative;
	width: 100%;
	overflow: hidden;
	
	#iKioskCMSContent {
		position: relative;
		overflow: hidden;
	}
	#iKioskCMSInlineEditor {
		position: relative;
		display: none;
	}
	#iKioskCMSdisplay {
		position: relative;
	}
}

.ikiosk-editor-active {
	#iKioskCMSwrapper {
		#iKioskCMSContent {
			float: left;
			border-right: 1px solid #CCC;
			width:100%;
		}
		
		#iKioskCMSInlineEditor {
			float: left;
			width:250px;
			background: #F7F7F7;
			display: block;
			.floatingWidget {
				position: fixed;
				width: 230px;
				top:40px;
				right:10px;
				z-index:5000;
			}
			.cms-widget {
				position: relative;
				margin-top:25px;
				.cms-widget-title {
					text-transform: uppercase;
					margin-bottom: 10px;
				}
			}
			
			.hide-me {
				display:none;
			}
			
			.btn.cmstooltip, .btn.half {
				width: 108px;	
				margin-right:10px;
				margin-bottom:10px;
				text-align:left;
				font-size:12px;
				&:nth-of-type(even) {
					margin-right:0px;
				}
				&.btn-expanded {
					width: 229px;	
				}
			}
			
			.btn.inlineBtn {
				width: 170px;	
				margin-right:10px;
				margin-bottom:10px;
				text-align:left;
				font-size:12px;	
				overflow: hidden;
				text-overflow: ellipsis;
				white-space: nowrap;
				text-align:center;	
				&:nth-of-type(even) {
					margin-right:0px;
				}
			}
				
			#cms-widget-popover {
				display: none;
				position: absolute;
				width: 400px;
				min-height: 100px;
				line-height: 20px;
				padding: 15px;
				font-size: 14px;
				text-align: left;
				color: rgb(255, 255, 255);
				background: rgba(0, 0, 0, 0.9);
				border: 1px solid rgb(255, 255, 255);
				border-radius: 5px;
				text-shadow: rgba(0, 0, 0, 0.0980392) 1px 1px 1px;
				box-shadow: 0 5px 15px rgba(0,0,0,.5);
				right:255px;
				top:100px;
				.cmstooltip-close {
					position: absolute;
					right: 10px;
					top:10px;
					cursor: pointer;
				}
				.widget-popover-title {
					margin-bottom:10px;
					text-transform:uppercase;
				}
				
				.widget-label {
					text-transform:uppercase;
					color: #FFF;
				}
				
				.label {
					color: #CCC;
					font-size: 12px;
					font-weight: normal;
				}
				
				.hide-me {
					display:none;
				}
				
				.htmlCode {
					position: relative;
					height:175px;
					overflow-y: scroll;
				}
				
				.widget-popover-body {
					position:relative;
					overflow-y:scroll;
					max-height:250px;
					font-size:12px;
					color:#CCC;
					
					.nav .open>a, .nav .open>a:focus, .nav .open>a:hover {
						background-color:#999;
						color:#fff;
						border:1px solid #999;
						border-top-left-radius:3px;
						border-top-right-radius:3px;
					}
					
					.nav-tabs {
						border-bottom:none;
					}
					.nav-tabs>li.active>a {
						border-top-width: 1px !important;
						box-shadow: none !important;
						font-weight:normal !important;
					}
					
					.dropdown-toggle {
						background-color:#000;
						color:#FFF;
							border: 1px solid #333;	
						&:hover {
							background-color:#999;
							border: 1px solid #999;	
						}
					}
					
					.tab-pane {
						padding: 10px;
					}
					
					.dropdown-menu {
						background-color:#999;
						border-bottom-left-radius:3px;
						border-bottom-right-radius:3px;
						border-top-right-radius:3px;
						color:#fff;
						border: 1px solid #999;
						li a {
							color:#EEE;
							&:hover {
								color:#FFF;
							}
						}
					}
					.widget-row {
						position:relative;
						width:100%;
						overflow:hidden;
						.imageList {
							padding:0px;
							margin:0px;
							li {
								list-style:none;
								display:inline-block;
								margin-right:5px;
								margin-bottom:5px;
								width:53px;
								height:53px;
								border: 1px solid #000;
								opacity: 0.90;
								img {
									max-width: 100%;
								}
								&:hover {
									border: 1px solid #FFF;
									opacity: 1;
								}
								a {
									cursor: pointer;
								}
								&.full {
										width:82px;
										height:82px;
								}
							}
						}
					}
				}
				#styleCategories {
					position:relative;
					height:205px;
					overflow-y: scroll;
					overflow-x: hidden;
					border: 1px solid #333;
					margin-top:5px;	
					.row {
						margin-top:8px;
					}
					input, select {
						background-color: #333;
						color: #FFF;
						border: 1px dotted #666;
					}
					
					.select i {
						box-shadow: 0 0 0 9px #333;
						background: #333;
						&:before {
							border-bottom: 4px solid #ccc;
						}
						&:after {
							border-top: 4px solid #ccc;
						}
					}
			
				}
			}
			#cms-widget-popover:after {
				content: "";
				position: absolute;
				width: 0;
				height: 0;
				border-width: 10px;
				border-style: solid;
				border-color: transparent transparent transparent rgba(0, 0, 0, 0.9);
				top: 25px;
				left: 398px;
			}
			#cms-widget-popover.css-styles:after {
				top:125px;
			}
		}
	}
}

@media only screen and (min-width:320px) and (max-width:568px) {
	.ikiosk-editor-active {
		#iKioskCMSwrapper {
			#iKioskCMSContent {
				float: right;
				width: 100%;
			}
			#iKioskCMSInlineEditor {
				float: left;
				position: relative;
				width: 100%;
				.cms-widget {
					display:none;
				}
				#cms-widget-popover {
					display:none !important;
				}
				#redactorControl {
					display:block;
					width:100%;
					padding: 5px;
					background-color: rgba(199, 232, 244, 0.8);
				}
				.floatingWidget {
					top: 25px;
					right:0px;
					width: 100%;
				}
			}
		}
	}
}

.widget-popover-body.custom-scroll::-webkit-scrollbar-thumb:horizontal, .widget-popover-body.custom-scroll::-webkit-scrollbar-thumb:vertical {
	background-color: #666 !important;
}

.widget-popover-body.custom-scroll::-webkit-scrollbar:hover {
	background-color:#000 !important;
	border: 1px solid #000 !important;
}

#iKioskCMSeditor {
	.ikiosk-cmsSnippet {
		display: inline-block;
		background-color: rgba(50,118,177,0.22);
		padding:5px;
	}
	#redactorEditor {
		.cms-element-hover {
			outline: #2c699d solid 1px;
		}
		
		.cms-placeholder {
			border: 1px dotted #CCC;	
		}
		
		.ui-draggable {
			cursor:move;
		}
		
		.cms-selected-element {
			outline: #2c699d dashed 3px;
			background-color:  rgba(255, 255, 255, 0.25);
			&.cms-element-hover {
			}
		}	
		.ui-resizable-handle {
				background: none repeat scroll 0 0 #FFFFFF;
				display: block;
				font-size: 0.1px;
				height: 9px;
				margin: 0 !important;
				min-height: 0 !important;
				min-width: 0 !important;
				outline: 1px solid #CCC;
				padding: 0 !important;
				position: absolute;
				width: 9px;
				z-index: 2147483647;
		}
		.ui-resizable-disabled .ui-resizable-handle, .ui-resizable-autohide .ui-resizable-handle {
				display: none;
		}
		.ui-resizable-n {
				cursor: n-resize;
				left: 50% !important;
				margin-left: -5px !important;
				top: -5px !important;
			width:9px !important;
			height:9px !important;
		}
		.ui-resizable-s {
				bottom: -5px !important;
				cursor: s-resize !important;
				left: 50% !important;
				margin-left: -5px !important;
			width:9px !important;
			height:9px !important;	
		}
		.ui-resizable-e {
				cursor: e-resize !important;
				margin-top: -5px !important;
				right: -5px !important;
				top: 50% !important;
			width:9px !important;
			height:9px !important;	
		}
		.ui-resizable-w {
				cursor: w-resize !important;
				left: -5px !important;
				margin-top: -5px !important;
				top: 50% !important;
			width:9px !important;
			height:9px !important;		
		}
		.ui-resizable-se {
				bottom: -5px !important;
				cursor: se-resize !important;
				right: -5px !important;
			width:9px !important;
			height:9px !important;	
		}
		.ui-resizable-sw {
				bottom: -5px !important;
				cursor: sw-resize !important;
				left: -5px !important;
		}
		.ui-resizable-nw {
				cursor: nw-resize !important;
				left: -5px !important;
				top: -5px !important;
			width:9px !important;
			height:9px !important;	
		}
		.ui-resizable-ne {
				cursor: ne-resize !important;
				right: -5px !important;
				top: -5px !important;
			width:9px !important;
			height:9px !important;	
		}
	}
	&.cms-layout-editor {
		.cms-selected-element {
			outline:none !important;
		}
		.cms-placeholder {
			background-color: #E1E0E0 !important;
			border: 3px dashed #95A5A6 !important;
			height:150px;
		}
		.ui-draggable {
		}
	
	}
}

.modal-backdrop {
	z-index:5000;
}
.modal {
	z-index:5050;
}