@charset "UTF-8";
@import url("mobile.nativedroid.css");
@import url("mobile.nativedroid.light.css");
@import url("mobile.nativedroid.blue.css");
@import url("mobile.nativedroid.mod.css");

.strong {
	font-weight:900;
}

.med {
		font-weight:400;
}

.light {
		font-weight:300;
}

