.form-response, .system-message {
	display:none;
}

.widget-body.no-padding form .alert {
	border-width: 0px 0px 0px 5px !important;
	font-size:12px;
}

.icon {
	text-align:center;
}
.delete-record {
	cursor:pointer;
	color:rgba(0,0,0,0.75);
}

.delete-record i {
		font-size:16px;
		text-align:center;
}

.btn-add {
	float:right;
	margin-left:10px;
}

.hidden-panel {
	display:none;
}

pre.prettyprint {
	padding:10px !important;
}

pre.html {
	height:500px;
}

.smart-form .col-12 {
	width:100%;
}

.pb10 {
	padding-bottom:10px;
}

.form-header {
	border-bottom: 1px dashed rgba(0,0,0,.2);
	padding: 8px 0;
	margin-bottom:15px;
}

.modal .smart-form .modal-body {
	padding:20px;
}

.modal .smart-form .modal-header {
	padding:15px;
}

.modal .smart-form .modal-footer {
	margin-top: 15px;
	padding: 19px 20px 20px;
}

.modal .smart-form .btn {
	padding: 6px 12px;
}

#header {
	background:#000;
	border-top: 2px solid #3276b1;
	height:51px;
}

.btn-header>:first-child>a {
	border-radius: 0px;
	background: #171717;
	border: 1px solid #343434;
	color: #343434;
}

.btn-header>:first-child>a:hover {
	background: #171717;	
	color:#FFF;
}

.header-search>input[type=text] { 
	background: #171717;
	border: 1px solid #343434;
	color:#FFF;
}

.menu-on-top #mobile-profile-img a.userdropdown img {
	border-radius:0px;
	border: 1px solid #343434;
}

#logo-group span {
	display:inline-block;
	color: rgba(255,255,255,0.75);
	text-transform:uppercase;
	font-family: "Open Sans",Arial,Helvetica,Sans-Serif;
	font-weight:300;	
	padding:15px;
	font-size:14px;
}

.fixed-header #header {
	box-shadow:none;
}

.menu-on-top aside#left-panel {
	background: #f1f1f1;
	border-bottom: 1px solid #C5C5C5;
	box-shadow: none;
	-webkit-box-shadow: none;
}

.menu-on-top aside#left-panel.floating {
	-webkit-box-shadow: 0 2px 4px 0 rgba(0,0,0,.25);
	box-shadow: 0 2px 4px 0 rgba(0,0,0,.25);
}

.menu-on-top aside#left-panel nav>ul>li {
	border:none;
}

.menu-on-top aside#left-panel nav>ul>li {
	border-radius: 2px;
	-webkit-border-radius: 2px;
	background-color: transparent;
	background-image: linear-gradient(top,#f5f5f5,#f1f1f1);
	background-image: -webkit-gradient(linear,left top,left bottom,from(#f5f5f5),to(#f1f1f1));
	background-image: -webkit-linear-gradient(top,#f5f5f5,#f1f1f1);
	border: 1px solid rgba(0,0,0,0.1);
	color: #444;
	margin-top: 5px;
	margin-left: 5px !important;
	margin-bottom: 5px;
}


.menu-on-top aside#left-panel nav>ul>li>a { 
	color: #444;
}
nav ul .active>a {
	color:#000000 !important;
}

.menu-on-top nav ul ul, .menu-on-top nav ul ul ul {
	border-bottom: 1px solid #3276b1;	
}

@media (max-width:979px) {
	.menu-on-top aside#left-panel nav>ul>li {
		margin:0px !important;
	}
}

#ribbon {
	border-bottom: 1px solid #C3C3C3;
	background-color: #E3E3E3;
}

#ribbon .breadcrumb, #ribbon .breadcrumb a {
	color: #6D6C6C!important;	
}
#ribbon .breadcrumb li:last-child, #ribbon .breadcrumb>.active {
	color: #333!important;	
}

.smart-form .label {
	font-weight:600;	
}

 .modal-title {
	font-weight:400;	
	letter-spacing: -1px;
	color:#333;	 
 }
 
 .smart-form .input input, .smart-form .select select, .smart-form .textarea textarea {
	 border-radius: 3px !important;	 
 }
 
 .smart-form input.input-lg,  .smart-form select.input-lg  {
	 font-weight:300;	
	 padding-left:16px;
 }
 
  .smart-form .note {
	  margin-bottom:6px;
	  margin-top:-4px;  
  }
	
.ui-sortable .jarviswidget-sortable>header {
		box-shadow: none;
}

.jarviswidget>div {
	border-bottom: 1px solid;
}

.smart-form fieldset {
	background-color:#F7F7F7;
}

body, html {
	background-color: #E8E8E8;
}

.nav-tabs>li.active>a, .nav-tabs>li.active>a:hover {
		background-color:#F7F7F7;	
}

.modal-header, .modal-footer {
		background-color:#F7F7F7;		
}

.stacked-set {
		border-bottom: 1px solid #CCC;	
}

.table>thead>tr>th {
		border-bottom: 	1px solid #ddd; 

}

td.icon {
	width:35px;
}