.form-response, .system-message {
	display:none;
}

.widget-body.no-padding form .alert {
	border-width: 0px 0px 0px 5px !important;
	font-size:12px;
}

.icon {
	text-align:center;
}
.delete-record, .icon-action {
	cursor:pointer;
	color:rgba(0,0,0,0.75);
}

.btn-primary.icon-action {
	color:#FFF;
}

.delete-record i, icon-action i {
		font-size:16px;
		text-align:center;
}

button.icon-action {
	color:#FFF;
}

.btn-add {
	float:right;
	margin-left:10px;
}

.hidden-panel {
	display:none;
}

pre.prettyprint {
	padding:10px !important;
}

pre.html {
	height:500px;
}

.smart-form .col-12 {
	width:100%;
}

.pb10 {
	padding-bottom:10px;
}

.form-header {
	border-bottom: 1px dashed rgba(0,0,0,.2);
	padding: 8px 0;
	margin-bottom:15px;
}

.modal .smart-form .modal-body {
	padding:20px;
}

.modal .smart-form .modal-header {
	padding:15px;
}

.modal .smart-form .modal-footer {
	margin-top: 15px;
	padding: 19px 20px 20px;
}

.modal .smart-form .btn {
	padding: 6px 12px;
}

#header {
	background:#000;
	border-top: 2px solid #3276b1;
	height:51px;
}

.btn-header>:first-child>a {
	border-radius: 0px;
	background: #171717;
	border: 1px solid #343434;
	color: #343434;
}

.btn-header>:first-child>a:hover {
	background: #171717;	
	color:#FFF;
}

.header-search>input[type=text] { 
	background: #171717;
	border: 1px solid #343434;
	color:#FFF;
}

.menu-on-top #mobile-profile-img a.userdropdown img {
	border-radius:0px;
	border: 1px solid #343434;
}

#logo-group span {
	display:inline-block;
	color: rgba(255,255,255,0.75);
	text-transform:uppercase;
	font-family: "Open Sans",Arial,Helvetica,Sans-Serif;
	font-weight:300;	
	padding:15px;
	font-size:14px;
}

.fixed-header #header {
	box-shadow:none;
}

.menu-on-top nav ul ul, .menu-on-top nav ul ul ul {
	border-bottom: 1px solid #3276b1;	
}

#ribbon {
	border-bottom: 1px solid #D5D5D5;
	background-color: #EBEBEB;
}

#ribbon .breadcrumb, #ribbon .breadcrumb a {
	color: #6D6C6C!important;	
}
#ribbon .breadcrumb li:last-child, #ribbon .breadcrumb>.active {
	color: #333!important;	
}

.smart-form .label {
	font-weight:600;	
}

 .modal-title {
	font-weight:400;	
	letter-spacing: -1px;
	color:#333;	 
 }
 
 .smart-form .input input, .smart-form .select select, .smart-form .textarea textarea {
	 border-radius: 3px !important;	 
 }
 
 .smart-form input.input-lg,  .smart-form select.input-lg  {
	 font-weight:300;	
	 padding-left:16px;
 }
 
  .smart-form .note {
	  margin-bottom:6px;
	  margin-top:-4px;  
  }
	
.ui-sortable .jarviswidget-sortable>header {
		box-shadow: none;
}

.jarviswidget>div {
	border-bottom: 1px solid;
}

.smart-form fieldset {
	background-color: #FDFDFD;
}

body, html {
	background: #E9EAED;
}

.nav-tabs>li.active>a, .nav-tabs>li.active>a:hover, .nav-tabs.bordered+.tab-content {
		background-color:#FDFDFD;	
}

.modal-header, .modal-footer {
		background-color:#F7F7F7;		
}

.stacked-set {
		border-bottom: 1px solid #CCC;	
}

.table>thead>tr>th {
		border-bottom: 	1px solid #ddd; 

}

td.icon {
	width:50px;
}


.modal .smart-form header {
	margin-left:0px;
	margin-right:0px;
	margin-top:0px;
	margin-bottom:10px;
	
}

.modal .datepicker {
	z-index:3000;
}


.smart-form fieldset header {
	margin-bottom:25px;
	margin-left:0px;
	margin-right:0px;
	margin-top:0px;
	background-color:transparent;
}


.truncate {
	  max-width: 100px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.browserLink {
	cursor:pointer;
}

.form-response.inline .alert, .form-response.inline .progress-bar, .form-response.inline .progress {
	margin:0px;
	
}

.header-actions {
	text-align:right;
	margin-bottom:10px;
	margin-top:12px;
}