#cmsUILogin .btn {
  padding: 6px 12px;
}
#cmsUILogin input[type="text"], #cmsUILogin input[type="password"] {
  padding-left: 10px;
  background: #FFF;
}

#iKioskCMSheader {
  position: fixed;
  width: 100%;
  top: 0px;
  z-index: 30;
}
#iKioskCMSheader #header {
  background: #225074;
  border-top: 2px solid #000;
  box-shadow: -11px 12px 23px rgba(0, 0, 0, 0.3);
}
#iKioskCMSheader #header .btn-header > :first-child > a {
  border-radius: 0px;
  background: #1F4A6C;
  border: 1px solid #1B415E !important;
  color: #CCC;
  cursor: pointer;
}
#iKioskCMSheader #header .btn-header > :first-child > a:hover {
  background: #1F4A6C;
  color: #FFF;
  cursor: pointer !important;
}
#iKioskCMSheader #header .header-search > input[type=text] {
  background: #1F4A6C;
  border: 1px solid #1B415E;
  color: #FFF;
}
#iKioskCMSheader #header #logo-group span {
  display: inline-block;
  color: #FFF;
  text-transform: uppercase;
  font-family: "Open Sans",Arial,Helvetica,Sans-Serif;
  font-weight: 300;
  padding: 15px;
  font-size: 14px;
}
#iKioskCMSheader #header #logo-group {
  width: auto;
}
#iKioskCMSheader #header .btn-header a.active {
  background-color: #000000 !important;
  color: #FFF;
  border: 1px solid #FFF !important;
}

#iKioskCMSwrapper {
  position: relative;
  margin-top: 51px;
}

#systemDebug .debug-variable {
  font-weight: 600;
}
#systemDebug .debug-value {
  max-width: 300px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
#systemDebug .tab-content {
  height: 400px;
  overflow-y: scroll;
}

#iKioskCMSeditor {
  display: none;
  padding: 5px;
}
#iKioskCMSeditor .redactorHeader {
  background-color: #F7F7F7;
  padding: 10px;
  margin-bottom: 5px;
  border: 1px dotted #DDD;
}

.align-right {
  text-align: right;
}

.modal .smart-form .modal-header {
  padding: 15px;
}
.modal .smart-form .modal-body {
  padding: 20px;
}
.modal .smart-form .modal-footer {
  margin-top: 15px;
  padding: 19px 20px 20px;
}
.modal .smart-form .btn {
  padding: 6px 12px;
}
.modal .modal-title {
  font-weight: 400;
  letter-spacing: -1px;
  color: #333;
}
.modal .datepicker {
  z-index: 3000;
}

@media only screen and (max-width: 480px) {
  .debug-value, .debug-variable {
    max-width: 190px !important;
  }
}
@media only screen and (min-width: 768px) {
  .modal-dialog {
    width: 700px;
  }
}
@media only screen and (min-width: 992px) {
  .modal-dialog {
    width: 900px;
  }
}
.smart-form fieldset {
  background-color: #FDFDFD;
}
.smart-form fieldset header {
  margin-bottom: 25px;
  margin-left: 0px;
  margin-right: 0px;
  margin-top: 0px;
  background-color: transparent;
}
.smart-form .note {
  margin-bottom: 6px;
  margin-top: -4px;
}

.icon {
  text-align: center;
}

.delete-record, .icon-action {
  cursor: pointer;
  color: rgba(0, 0, 0, 0.75);
}

.btn-primary.icon-action {
  color: #FFF;
}

.delete-record i, icon-action i {
  font-size: 16px;
  text-align: center;
}

button.icon-action {
  color: #FFF;
}

.btn-add {
  float: right;
  margin-left: 10px;
}

.hidden-panel {
  display: none;
}

pre.prettyprint {
  padding: 10px !important;
}

pre.html {
  height: 500px;
}

.smart-form .col-12 {
  width: 100%;
}

.pb10 {
  padding-bottom: 10px;
}

.form-header {
  border-bottom: 1px dashed rgba(0, 0, 0, 0.2);
  padding: 8px 0;
  margin-bottom: 15px;
}

.ui-sortable .jarviswidget-sortable > header {
  box-shadow: none;
}

.jarviswidget > div {
  border-bottom: 1px solid;
}

.table > thead > tr > th {
  border-bottom: 1px solid #ddd;
}

td.icon {
  width: 50px;
}

@media (max-width: 640px) {
  .dataTable tr th, .dataTable tr td {
    display: none;
  }

  .dataTable tr th:first-child, .dataTable tr td:first-child, .dataTable tr th:last-child, .dataTable tr td:last-child {
    display: table-cell;
  }

  .dt-toolbar div:last-child {
    padding-left: 0px;
  }

  .dt-toolbar .btn-add {
    display: block;
    float: left;
    width: 160px;
    margin-left: 0px;
  }

  .dt-toolbar > :last-child .dataTables_length {
    float: left;
    margin-left: 5px;
  }

  div.dataTables_paginate {
    float: left;
  }

  .dt-toolbar-footer > :last-child, .dt-toolbar > :last-child {
    padding-left: 0px;
  }
}
.modal-header, .modal-footer {
  background-color: #F7F7F7;
}

.smart-form .label {
  font-weight: 600;
}

#dynamicModal .modal-footer {
  margin-top: 0px;
}

.nav-tabs > li.active > a, .nav-tabs > li.active > a:focus, .nav-tabs > li.active > a:hover {
  background: #FDFDFD;
}

.icon {
  text-align: center;
}

.delete-record, .icon-action {
  cursor: pointer;
  color: rgba(0, 0, 0, 0.75);
}

.btn-primary.icon-action {
  color: #FFF;
}

.delete-record i, icon-action i {
  font-size: 16px;
  text-align: center;
}

button.icon-action {
  color: #FFF;
}

@media (max-width: 640px) {
  .dataTable tr th, .dataTable tr td {
    display: none;
  }

  .dataTable tr th:first-child, .dataTable tr td:first-child, .dataTable tr th:last-child, .dataTable tr td:last-child {
    display: table-cell;
  }
}
#dynModalWrapper {
  position: relative;
  z-index: 2500;
  background-color: #000;
  overflow: hidden;
}
#dynModalWrapper #cms-menu {
  position: absolute;
  top: 13px;
  right: 10px;
  cursor: pointer;
  z-index: 30;
  padding: 6px 12px;
  border-radius: 2px;
  border: 1px solid #CCC;
}
#dynModalWrapper #cms-menu:hover {
  text-decoration: none;
}
#dynModalWrapper #dynModalContent {
  position: relative;
  z-index: 20;
  background-color: #FFF;
  min-height: 328px;
}
#dynModalWrapper #dynModalContent .modal-body {
  min-height: 200px;
}
#dynModalWrapper #dynModalMenu {
  display: none;
  position: absolute;
  top: 40px;
  right: 0;
  width: 190px;
  z-index: 10;
}
#dynModalWrapper #dynModalMenu ul {
  padding: 20px;
  margin: 0;
  list-style: none;
  background: #000;
}
#dynModalWrapper #dynModalMenu ul a {
  display: block;
  color: #CCC;
  padding-bottom: 15px;
}
#dynModalWrapper #dynModalMenu ul a:hover {
  text-decoration: none;
  color: #FFF;
}
#dynModalWrapper #dynModalMenu ul a i {
  padding-right: 5px;
}

#dynModalWrapper.animating #dynModalMenu, #dynModalWrapper.menu-visible #dynModalMenu {
  display: block;
}

#dynModalWrapper.animating #dynModalContent, #dynModalWrapper.animating #cms-menu {
  transition: transform .25s ease-in-out;
  -webkit-transition: -webkit-transform .25s ease-in-out;
}

#dynModalWrapper.animating.left #dynModalContent {
  transform: translate3d(-200px, 0, 0);
  -webkit-transform: translate3d(-200px, 0, 0);
}

#dynModalWrapper.animating.right #dynModalContent {
  transform: translate3d(200px, 0, 0);
  -webkit-transform: translate3d(200px, 0, 0);
}

#dynModalWrapper.menu-visible #dynModalContent {
  right: 200px;
}

#dynModalWrapper.menu-visible #cms-menu, #dynModalWrapper.animating.left #cms-menu {
  color: #666;
  background-color: #000000;
  border: 1px solid #666;
}

#dynModalWrapper.animating.right #cms-menu {
  color: #333;
  background-color: #FFF;
  border: 1px solid #CCC;
}
