#cmsUILogin .btn {
  padding: 6px 12px;
}
#cmsUILogin input[type="text"], #cmsUILogin input[type="password"] {
  padding-left: 10px;
  background: #FFF;
}

#iKioskCMSheader {
  position: fixed;
  width: 100%;
  top: 0px;
  z-index: 1000;
}
#iKioskCMSheader #header {
  background: #225074;
  border-top: 2px solid #000;
  box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.3);
}
#iKioskCMSheader #header .btn-header > :first-child > a {
  border-radius: 0px;
  background: #1F4A6C;
  border: 1px solid #1B415E !important;
  color: #CCC;
  cursor: pointer;
}
#iKioskCMSheader #header .btn-header > :first-child > a:hover {
  background: #1F4A6C;
  color: #FFF;
  cursor: pointer !important;
}
#iKioskCMSheader #header .header-search > input[type=text] {
  background: #1F4A6C;
  border: 1px solid #1B415E;
  color: #FFF;
}
#iKioskCMSheader #header #logo-group span {
  display: inline-block;
  color: #FFF;
  text-transform: uppercase;
  font-family: "Open Sans",Arial,Helvetica,Sans-Serif;
  font-weight: 300;
  padding: 15px;
  font-size: 14px;
}
#iKioskCMSheader #header #logo-group {
  width: auto;
}
#iKioskCMSheader #header .btn-header a.active {
  background-color: #000000 !important;
  color: #FFF;
  border: 1px solid #FFF !important;
}

#iKioskCMSwrapper {
  position: relative;
  margin-top: 48px;
}

#systemDebug .debug-variable {
  font-weight: 600;
}
#systemDebug .debug-value {
  max-width: 300px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
#systemDebug .tab-content {
  height: 400px;
  overflow-y: scroll;
}

#iKioskCMSeditor {
  display: none;
  padding: 5px;
}
#iKioskCMSeditor .redactorHeader {
  background-color: #F7F7F7;
  padding: 10px;
  margin-bottom: 5px;
  border: 1px dotted #DDD;
}
#iKioskCMSeditor #redactorEditor article, #iKioskCMSeditor #redactorEditor aside, #iKioskCMSeditor #redactorEditor blockquote, #iKioskCMSeditor #redactorEditor canvas, #iKioskCMSeditor #redactorEditor div, #iKioskCMSeditor #redactorEditor footer, #iKioskCMSeditor #redactorEditor h1, #iKioskCMSeditor #redactorEditor h2, #iKioskCMSeditor #redactorEditor h3, #iKioskCMSeditor #redactorEditor h4, #iKioskCMSeditor #redactorEditor h5, #iKioskCMSeditor #redactorEditor h6, #iKioskCMSeditor #redactorEditor header, #iKioskCMSeditor #redactorEditor ol, #iKioskCMSeditor #redactorEditor p, #iKioskCMSeditor #redactorEditor ul, #iKioskCMSeditor #redactorEditor section, #iKioskCMSeditor #redactorEditor table, #iKioskCMSeditor #redactorEditor video {
  min-height: 25px;
}
#iKioskCMSeditor #redactorEditor.cms-layout-grid article, #iKioskCMSeditor #redactorEditor.cms-layout-grid aside, #iKioskCMSeditor #redactorEditor.cms-layout-grid blockquote, #iKioskCMSeditor #redactorEditor.cms-layout-grid canvas, #iKioskCMSeditor #redactorEditor.cms-layout-grid div, #iKioskCMSeditor #redactorEditor.cms-layout-grid footer, #iKioskCMSeditor #redactorEditor.cms-layout-grid h1, #iKioskCMSeditor #redactorEditor.cms-layout-grid h2, #iKioskCMSeditor #redactorEditor.cms-layout-grid h3, #iKioskCMSeditor #redactorEditor.cms-layout-grid h4, #iKioskCMSeditor #redactorEditor.cms-layout-grid h5, #iKioskCMSeditor #redactorEditor.cms-layout-grid h6, #iKioskCMSeditor #redactorEditor.cms-layout-grid header, #iKioskCMSeditor #redactorEditor.cms-layout-grid ol, #iKioskCMSeditor #redactorEditor.cms-layout-grid p, #iKioskCMSeditor #redactorEditor.cms-layout-grid ul, #iKioskCMSeditor #redactorEditor.cms-layout-grid section, #iKioskCMSeditor #redactorEditor.cms-layout-grid table, #iKioskCMSeditor #redactorEditor.cms-layout-grid video {
  outline: 1px dotted #DDD;
}
#iKioskCMSeditor #redactorEditor.cms-layout-grid .cms-element-hover {
  outline: #2c699d dashed 1px;
}
#iKioskCMSeditor #redactorEditor .ui-sortable {
  display: block;
  overflow: hidden;
}

.align-right {
  text-align: right;
}

.align-center {
  text-align: center !important;
}

.modal .smart-form .modal-header {
  padding: 15px;
}
.modal .smart-form .modal-body {
  padding: 20px;
}
.modal .smart-form .modal-footer {
  margin-top: 15px;
  padding: 19px 20px 20px;
}
.modal .smart-form .btn {
  padding: 6px 12px;
}
.modal .smart-form header {
  padding: 0px;
  margin: 0px;
}
.modal .smart-form header {
  margin-bottom: 15px;
}
.modal .modal-title {
  font-weight: 400;
  letter-spacing: -1px;
  color: #333;
}
.modal .datepicker {
  z-index: 3000;
}

.ui-datepicker {
  z-index: 6000 !important;
}

@media only screen and (max-width: 480px) {
  .debug-value, .debug-variable {
    max-width: 190px !important;
  }
}
@media only screen and (min-width: 768px) {
  .modal-dialog {
    width: 700px;
  }
}
@media only screen and (min-width: 992px) {
  .modal-dialog {
    width: 900px;
  }
}
.smart-form fieldset {
  background-color: #FDFDFD;
}
.smart-form fieldset header {
  margin-bottom: 25px;
  margin-left: 0px;
  margin-right: 0px;
  margin-top: 0px;
  background-color: transparent;
}
.smart-form .note {
  margin-bottom: 6px;
  margin-top: -4px;
}

.icon {
  text-align: center;
}

.delete-record, .icon-action {
  cursor: pointer;
  color: rgba(0, 0, 0, 0.75);
}

.btn-primary.icon-action {
  color: #FFF;
}

.delete-record i, icon-action i {
  font-size: 16px;
  text-align: center;
}

button.icon-action {
  color: #FFF;
}

.btn-add {
  float: right;
  margin-left: 10px;
}

.hidden-panel {
  display: none;
}

pre.prettyprint {
  padding: 10px !important;
}

pre.html {
  height: 500px;
}

.smart-form .col-12 {
  width: 100%;
}

.pb10 {
  padding-bottom: 10px;
}

.form-header {
  border-bottom: 1px dashed rgba(0, 0, 0, 0.2);
  padding: 8px 0;
  margin-bottom: 15px;
}

.ui-sortable .jarviswidget-sortable > header {
  box-shadow: none;
}

.jarviswidget > div {
  border-bottom: 1px solid;
}

.table > thead > tr > th {
  border-bottom: 1px solid #ddd;
}

td.icon {
  width: 50px;
}

@media (max-width: 640px) {
  .dataTable tr th, .dataTable tr td {
    display: none;
  }

  .dataTable tr th:first-child, .dataTable tr td:first-child, .dataTable tr th:last-child, .dataTable tr td:last-child {
    display: table-cell;
  }

  .dt-toolbar div:last-child {
    padding-left: 0px;
  }

  .dt-toolbar .btn-add {
    display: block;
    float: left;
    width: 160px;
    margin-left: 0px;
  }

  .dt-toolbar > :last-child .dataTables_length {
    float: left;
    margin-left: 5px;
  }

  div.dataTables_paginate {
    float: left;
  }

  .dt-toolbar-footer > :last-child, .dt-toolbar > :last-child {
    padding-left: 0px;
  }
}
.modal-header, .modal-footer {
  background-color: #F7F7F7;
}

.smart-form .label {
  font-weight: 600;
}

#dynamicModal .modal-footer {
  margin-top: 0px;
}

.nav-tabs > li.active > a, .nav-tabs > li.active > a:focus, .nav-tabs > li.active > a:hover {
  background: #FDFDFD;
}

.icon {
  text-align: center;
}

.delete-record, .icon-action {
  cursor: pointer;
  color: rgba(0, 0, 0, 0.75);
}

.btn-primary.icon-action {
  color: #FFF;
}

.delete-record i, icon-action i {
  font-size: 16px;
  text-align: center;
}

button.icon-action {
  color: #FFF;
}

@media (max-width: 640px) {
  .dataTable tr th, .dataTable tr td {
    display: none;
  }

  .dataTable tr th:first-child, .dataTable tr td:first-child, .dataTable tr th:last-child, .dataTable tr td:last-child {
    display: table-cell;
  }

  #dynModalWrapper #dynModalContent .qq-uploader .qq-upload-drop-area.hidden-mobile {
    display: none !important;
  }

  #layoutWidget {
    display: none !important;
  }
}
#dynModalWrapper {
  position: relative;
  z-index: 2500;
  background-color: #000;
  overflow: hidden;
}
#dynModalWrapper #cms-menu {
  position: absolute;
  top: 13px;
  right: 10px;
  cursor: pointer;
  z-index: 30;
  padding: 6px 12px;
  border-radius: 2px;
  border: 1px solid #CCC;
}
#dynModalWrapper #cms-menu:hover {
  text-decoration: none;
}
#dynModalWrapper #dynModalContent {
  position: relative;
  z-index: 20;
  background-color: #FFF;
  min-height: 328px;
}
#dynModalWrapper #dynModalContent .modal-body {
  min-height: 200px;
}
#dynModalWrapper #dynModalContent #photoList {
  width: 100%;
  overflow: hidden;
}
#dynModalWrapper #dynModalContent #cms-editPhoto {
  display: none;
}
#dynModalWrapper #dynModalContent .superbox-close {
  top: 8px;
  right: 8px;
}
#dynModalWrapper #dynModalContent .superbox-show #cms-editPhoto {
  display: block;
}
#dynModalWrapper #dynModalContent .superbox-show #cms-editPhoto .label {
  color: #FFF;
}
#dynModalWrapper #dynModalContent .superbox-show .superbox-imageinfo {
  display: block;
  max-width: none;
}
#dynModalWrapper #dynModalContent .superbox-show .superbox-imageinfo span {
  display: none;
}
#dynModalWrapper #dynModalContent .superbox-show .superbox-current-img {
  float: none;
}
#dynModalWrapper #dynModalContent .superbox-list a:hover {
  text-decoration: none;
}
#dynModalWrapper #dynModalContent .superbox-list .note {
  text-align: center;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
#dynModalWrapper #dynModalContent .qq-uploader .qq-upload-drop-area {
  display: block !important;
  border: 1px dashed #BBB;
  color: #ccc;
  text-align: center;
  background: #FEFEFE;
  padding: 25px;
  margin-bottom: 15px;
}
#dynModalWrapper #dynModalContent .qq-uploader .qq-upload-list {
  margin-top: 10px;
  padding: 0px;
  list-style-type: none;
}
#dynModalWrapper #dynModalContent .qq-uploader .qq-upload-list li {
  display: block;
  list-style-type: none;
  padding: 5px;
  border: 1px dashed #BBB;
  background: #FEFEFE;
  border-radius: 3px;
  margin-bottom: 5px;
}
#dynModalWrapper #dynModalContent .qq-uploader .qq-upload-file, #dynModalWrapper #dynModalContent .qq-uploader .qq-upload-spinner, #dynModalWrapper #dynModalContent .qq-uploader .qq-upload-size, #dynModalWrapper #dynModalContent .qq-uploader .qq-upload-cancel, #dynModalWrapper #dynModalContent .qq-uploader .qq-upload-failed-text {
  margin-right: 7px;
}
#dynModalWrapper #dynModalContent table {
  min-height: 115px;
}
#dynModalWrapper #dynModalContent .hide-me {
  display: none;
}
#dynModalWrapper #dynModalContent .enhanced-well {
  width: 100%;
  overflow: hidden;
  border: 1px solid #F2F2F2;
  background-color: #F6F6F6;
  padding: 10px;
  margin-bottom: 10px;
}
#dynModalWrapper #dynModalContent iframe {
  width: 100%;
  height: 500px;
  overflow-x: scroll;
  border: 1px solid #F2F2F2;
}
#dynModalWrapper #dynModalContent .file-wrapper {
  text-align: center;
  margin-bottom: 10px;
  padding: 15px;
  border: 1px solid #FFF;
  min-height: 115px;
}
#dynModalWrapper #dynModalContent .file-wrapper:hover {
  border: 1px solid #F2F2F2;
  background-color: #F6F6F6;
}
#dynModalWrapper #dynModalContent .file-wrapper .icon-link {
  color: #999;
}
#dynModalWrapper #dynModalContent .file-wrapper .icon-image {
  max-width: 100%;
  max-height: 52px;
}
#dynModalWrapper #dynModalContent .file-wrapper .file-title {
  padding-top: 10px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
#dynModalWrapper #dynModalContent .file-wrapper .file-title .icon-text {
  color: #3276b1;
}
#dynModalWrapper #dynModalMenu {
  display: none;
  position: absolute;
  top: 40px;
  right: 0;
  width: 190px;
  z-index: 10;
}
#dynModalWrapper #dynModalMenu ul {
  padding: 20px;
  margin: 0;
  list-style: none;
  background: #000;
}
#dynModalWrapper #dynModalMenu ul a {
  display: block;
  color: #CCC;
  padding-bottom: 15px;
}
#dynModalWrapper #dynModalMenu ul a:hover {
  text-decoration: none;
  color: #FFF;
}
#dynModalWrapper #dynModalMenu ul a i {
  padding-right: 5px;
}

#dynModalWrapper.animating #dynModalMenu, #dynModalWrapper.menu-visible #dynModalMenu {
  display: block;
}

#dynModalWrapper.animating #dynModalContent, #dynModalWrapper.animating #cms-menu {
  transition: transform .25s ease-in-out;
  -webkit-transition: -webkit-transform .25s ease-in-out;
}

#dynModalWrapper.animating.left #dynModalContent {
  transform: translate3d(-200px, 0, 0);
  -webkit-transform: translate3d(-200px, 0, 0);
}

#dynModalWrapper.animating.right #dynModalContent {
  transform: translate3d(200px, 0, 0);
  -webkit-transform: translate3d(200px, 0, 0);
}

#dynModalWrapper.menu-visible #dynModalContent {
  right: 200px;
}

#dynModalWrapper.menu-visible #cms-menu, #dynModalWrapper.animating.left #cms-menu {
  color: #666;
  background-color: #000000;
  border: 1px solid #666;
}

#dynModalWrapper.animating.right #cms-menu {
  color: #333;
  background-color: #FFF;
  border: 1px solid #CCC;
}

.tooltip {
  z-index: 60000 !important;
}

#iKioskCMSwrapper {
  position: relative;
  width: 100%;
  overflow: hidden;
}
#iKioskCMSwrapper #iKioskCMSContent {
  position: relative;
  overflow: hidden;
}
#iKioskCMSwrapper #iKioskCMSContent #editorFrame {
  border: none;
  width: 100%;
}
#iKioskCMSwrapper #iKioskCMSInlineEditor {
  position: relative;
  display: none;
}
#iKioskCMSwrapper #iKioskCMSdisplay {
  position: relative;
}

.ikiosk-editor-active #iKioskCMSwrapper #iKioskCMSContent {
  float: left;
  border-right: 1px solid #CCC;
  width: 100%;
}
.ikiosk-editor-active #iKioskCMSwrapper #iKioskCMSInlineEditor {
  float: left;
  width: 250px;
  background: #F7F7F7;
  display: block;
}
.ikiosk-editor-active #iKioskCMSwrapper #iKioskCMSInlineEditor .floatingWidget {
  position: fixed;
  width: 230px;
  top: 40px;
  right: 10px;
  z-index: 999;
}
.ikiosk-editor-active #iKioskCMSwrapper #iKioskCMSInlineEditor .cms-widget {
  position: relative;
  margin-top: 25px;
}
.ikiosk-editor-active #iKioskCMSwrapper #iKioskCMSInlineEditor .cms-widget .cms-widget-title {
  text-transform: uppercase;
  margin-bottom: 10px;
}
.ikiosk-editor-active #iKioskCMSwrapper #iKioskCMSInlineEditor .cms-widget #layoutElements {
  postion: relative;
  font-size: 11px;
  border: 1px solid #DDD;
  margin-top: 20px;
  border-bottom: none;
}
.ikiosk-editor-active #iKioskCMSwrapper #iKioskCMSInlineEditor .cms-widget #layoutElements .acc-section-trigger {
  cursor: pointer;
  padding: 8px;
  border-bottom: 1px solid #DDD;
  background-color: #FBFBF8;
}
.ikiosk-editor-active #iKioskCMSwrapper #iKioskCMSInlineEditor .cms-widget #layoutElements .acc-section-trigger.accActive {
  background-color: #428bca;
  color: #FFF;
}
.ikiosk-editor-active #iKioskCMSwrapper #iKioskCMSInlineEditor .cms-widget #layoutElements .acc-section-content {
  display: none;
  max-height: 250px;
  overflow-y: scroll;
  background-color: #FFF;
  padding: 8px;
  border-bottom: 1px solid #EEE;
}
.ikiosk-editor-active #iKioskCMSwrapper #iKioskCMSInlineEditor .cms-widget #layoutElements .acc-section-content .layoutItem {
  position: relative;
  border: 1px solid #DDD;
  margin-bottom: 15px;
}
.ikiosk-editor-active #iKioskCMSwrapper #iKioskCMSInlineEditor .cms-widget #layoutElements .acc-section-content .layoutItem .layoutImage {
  max-width: 100%;
  min-height: 100px;
}
.ikiosk-editor-active #iKioskCMSwrapper #iKioskCMSInlineEditor .cms-widget #layoutElements .acc-section-content .layoutItem .layoutTitle {
  color: #ccc;
  text-align: center;
  background-color: #666;
  padding: 3px;
}
.ikiosk-editor-active #iKioskCMSwrapper #iKioskCMSInlineEditor .cms-widget #layoutElements .acc-section-content .layoutItem.ui-draggable-dragging {
  width: 200px;
}
.ikiosk-editor-active #iKioskCMSwrapper #iKioskCMSInlineEditor .hide-me {
  display: none;
}
.ikiosk-editor-active #iKioskCMSwrapper #iKioskCMSInlineEditor .btn.cmstooltip, .ikiosk-editor-active #iKioskCMSwrapper #iKioskCMSInlineEditor .btn.half {
  width: 108px;
  margin-right: 10px;
  margin-bottom: 10px;
  text-align: left;
  font-size: 12px;
}
.ikiosk-editor-active #iKioskCMSwrapper #iKioskCMSInlineEditor .btn.cmstooltip:nth-of-type(even), .ikiosk-editor-active #iKioskCMSwrapper #iKioskCMSInlineEditor .btn.half:nth-of-type(even) {
  margin-right: 0px;
}
.ikiosk-editor-active #iKioskCMSwrapper #iKioskCMSInlineEditor .btn.cmstooltip.btn-expanded, .ikiosk-editor-active #iKioskCMSwrapper #iKioskCMSInlineEditor .btn.half.btn-expanded {
  width: 229px;
}
.ikiosk-editor-active #iKioskCMSwrapper #iKioskCMSInlineEditor .btn.inlineBtn {
  width: 170px;
  margin-right: 10px;
  margin-bottom: 10px;
  text-align: left;
  font-size: 12px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  text-align: center;
}
.ikiosk-editor-active #iKioskCMSwrapper #iKioskCMSInlineEditor .btn.inlineBtn:nth-of-type(even) {
  margin-right: 0px;
}
.ikiosk-editor-active #iKioskCMSwrapper #iKioskCMSInlineEditor #cms-widget-popover {
  display: none;
  position: absolute;
  width: 400px;
  min-height: 100px;
  line-height: 20px;
  padding: 15px;
  font-size: 14px;
  text-align: left;
  color: white;
  background: rgba(0, 0, 0, 0.9);
  border: 1px solid white;
  border-radius: 5px;
  text-shadow: rgba(0, 0, 0, 0.09804) 1px 1px 1px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
  right: 255px;
  top: 100px;
}
.ikiosk-editor-active #iKioskCMSwrapper #iKioskCMSInlineEditor #cms-widget-popover .cmstooltip-close {
  position: absolute;
  right: 10px;
  top: 10px;
  cursor: pointer;
}
.ikiosk-editor-active #iKioskCMSwrapper #iKioskCMSInlineEditor #cms-widget-popover .widget-popover-title {
  margin-bottom: 10px;
  text-transform: uppercase;
}
.ikiosk-editor-active #iKioskCMSwrapper #iKioskCMSInlineEditor #cms-widget-popover .widget-label {
  text-transform: uppercase;
  color: #FFF;
}
.ikiosk-editor-active #iKioskCMSwrapper #iKioskCMSInlineEditor #cms-widget-popover .label {
  color: #CCC;
  font-size: 12px;
  font-weight: normal;
}
.ikiosk-editor-active #iKioskCMSwrapper #iKioskCMSInlineEditor #cms-widget-popover .hide-me {
  display: none;
}
.ikiosk-editor-active #iKioskCMSwrapper #iKioskCMSInlineEditor #cms-widget-popover .htmlCode {
  position: relative;
  height: 175px;
  overflow-y: scroll;
}
.ikiosk-editor-active #iKioskCMSwrapper #iKioskCMSInlineEditor #cms-widget-popover .widget-popover-body {
  position: relative;
  overflow-y: scroll;
  max-height: 250px;
  font-size: 12px;
  color: #CCC;
}
.ikiosk-editor-active #iKioskCMSwrapper #iKioskCMSInlineEditor #cms-widget-popover .widget-popover-body .nav .open > a, .ikiosk-editor-active #iKioskCMSwrapper #iKioskCMSInlineEditor #cms-widget-popover .widget-popover-body .nav .open > a:focus, .ikiosk-editor-active #iKioskCMSwrapper #iKioskCMSInlineEditor #cms-widget-popover .widget-popover-body .nav .open > a:hover {
  background-color: #999;
  color: #fff;
  border: 1px solid #999;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}
.ikiosk-editor-active #iKioskCMSwrapper #iKioskCMSInlineEditor #cms-widget-popover .widget-popover-body .nav-tabs {
  border-bottom: none;
}
.ikiosk-editor-active #iKioskCMSwrapper #iKioskCMSInlineEditor #cms-widget-popover .widget-popover-body .nav-tabs > li.active > a {
  border-top-width: 1px !important;
  box-shadow: none !important;
  font-weight: normal !important;
}
.ikiosk-editor-active #iKioskCMSwrapper #iKioskCMSInlineEditor #cms-widget-popover .widget-popover-body .dropdown-toggle {
  background-color: #000;
  color: #FFF;
  border: 1px solid #333;
}
.ikiosk-editor-active #iKioskCMSwrapper #iKioskCMSInlineEditor #cms-widget-popover .widget-popover-body .dropdown-toggle:hover {
  background-color: #999;
  border: 1px solid #999;
}
.ikiosk-editor-active #iKioskCMSwrapper #iKioskCMSInlineEditor #cms-widget-popover .widget-popover-body .tab-pane {
  padding: 10px;
}
.ikiosk-editor-active #iKioskCMSwrapper #iKioskCMSInlineEditor #cms-widget-popover .widget-popover-body .dropdown-menu {
  background-color: #999;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  border-top-right-radius: 3px;
  color: #fff;
  border: 1px solid #999;
}
.ikiosk-editor-active #iKioskCMSwrapper #iKioskCMSInlineEditor #cms-widget-popover .widget-popover-body .dropdown-menu li a {
  color: #EEE;
}
.ikiosk-editor-active #iKioskCMSwrapper #iKioskCMSInlineEditor #cms-widget-popover .widget-popover-body .dropdown-menu li a:hover {
  color: #FFF;
}
.ikiosk-editor-active #iKioskCMSwrapper #iKioskCMSInlineEditor #cms-widget-popover .widget-popover-body .widget-row {
  position: relative;
  width: 100%;
  overflow: hidden;
}
.ikiosk-editor-active #iKioskCMSwrapper #iKioskCMSInlineEditor #cms-widget-popover .widget-popover-body .widget-row .imageList {
  padding: 0px;
  margin: 0px;
}
.ikiosk-editor-active #iKioskCMSwrapper #iKioskCMSInlineEditor #cms-widget-popover .widget-popover-body .widget-row .imageList li {
  list-style: none;
  display: inline-block;
  margin-right: 5px;
  margin-bottom: 5px;
  width: 53px;
  height: 53px;
  border: 1px solid #000;
  opacity: 0.90;
}
.ikiosk-editor-active #iKioskCMSwrapper #iKioskCMSInlineEditor #cms-widget-popover .widget-popover-body .widget-row .imageList li img {
  max-width: 100%;
}
.ikiosk-editor-active #iKioskCMSwrapper #iKioskCMSInlineEditor #cms-widget-popover .widget-popover-body .widget-row .imageList li:hover {
  border: 1px solid #FFF;
  opacity: 1;
}
.ikiosk-editor-active #iKioskCMSwrapper #iKioskCMSInlineEditor #cms-widget-popover .widget-popover-body .widget-row .imageList li a {
  cursor: pointer;
}
.ikiosk-editor-active #iKioskCMSwrapper #iKioskCMSInlineEditor #cms-widget-popover .widget-popover-body .widget-row .imageList li.full {
  width: 82px;
  height: 82px;
}
.ikiosk-editor-active #iKioskCMSwrapper #iKioskCMSInlineEditor #cms-widget-popover #styleCategories {
  position: relative;
  height: 205px;
  overflow-y: scroll;
  overflow-x: hidden;
  border: 1px solid #333;
  margin-top: 5px;
}
.ikiosk-editor-active #iKioskCMSwrapper #iKioskCMSInlineEditor #cms-widget-popover #styleCategories .row {
  margin-top: 8px;
}
.ikiosk-editor-active #iKioskCMSwrapper #iKioskCMSInlineEditor #cms-widget-popover #styleCategories input, .ikiosk-editor-active #iKioskCMSwrapper #iKioskCMSInlineEditor #cms-widget-popover #styleCategories select {
  background-color: #333;
  color: #FFF;
  border: 1px dotted #666;
}
.ikiosk-editor-active #iKioskCMSwrapper #iKioskCMSInlineEditor #cms-widget-popover #styleCategories .select i {
  box-shadow: 0 0 0 9px #333;
  background: #333;
}
.ikiosk-editor-active #iKioskCMSwrapper #iKioskCMSInlineEditor #cms-widget-popover #styleCategories .select i:before {
  border-bottom: 4px solid #ccc;
}
.ikiosk-editor-active #iKioskCMSwrapper #iKioskCMSInlineEditor #cms-widget-popover #styleCategories .select i:after {
  border-top: 4px solid #ccc;
}
.ikiosk-editor-active #iKioskCMSwrapper #iKioskCMSInlineEditor #cms-widget-popover:after {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  border-width: 10px;
  border-style: solid;
  border-color: transparent transparent transparent rgba(0, 0, 0, 0.9);
  top: 25px;
  left: 398px;
}
.ikiosk-editor-active #iKioskCMSwrapper #iKioskCMSInlineEditor #cms-widget-popover.css-styles:after {
  top: 125px;
}

@media only screen and (min-width: 320px) and (max-width: 568px) {
  .ikiosk-editor-active #iKioskCMSwrapper #iKioskCMSContent {
    float: right;
    width: 100%;
  }
  .ikiosk-editor-active #iKioskCMSwrapper #iKioskCMSInlineEditor {
    float: left;
    position: relative;
    width: 100%;
  }
  .ikiosk-editor-active #iKioskCMSwrapper #iKioskCMSInlineEditor .cms-widget {
    display: none;
  }
  .ikiosk-editor-active #iKioskCMSwrapper #iKioskCMSInlineEditor #cms-widget-popover {
    display: none !important;
  }
  .ikiosk-editor-active #iKioskCMSwrapper #iKioskCMSInlineEditor #redactorControl {
    display: block;
    width: 100%;
    padding: 5px;
    background-color: rgba(199, 232, 244, 0.8);
  }
  .ikiosk-editor-active #iKioskCMSwrapper #iKioskCMSInlineEditor .floatingWidget {
    top: 25px;
    right: 0px;
    width: 100%;
  }
}
.widget-popover-body.custom-scroll::-webkit-scrollbar-thumb:horizontal, .widget-popover-body.custom-scroll::-webkit-scrollbar-thumb:vertical {
  background-color: #666 !important;
}

.widget-popover-body.custom-scroll::-webkit-scrollbar:hover {
  background-color: #000 !important;
  border: 1px solid #000 !important;
}

#iKioskCMSeditor {
  position: relative;
}
#iKioskCMSeditor .ikiosk-cmsSnippet {
  display: inline-block;
  background-color: rgba(50, 118, 177, 0.22);
  padding: 5px;
}
#iKioskCMSeditor #layoutWidget {
  position: fixed;
  top: 82px;
  right: 0px;
  font-size: 11px;
  border: 1px solid #DDD;
  margin-top: 20px;
  border-bottom: none;
  display: none;
  z-index: 4000;
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.2);
  box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
  width: 240px;
  font-family: 'Arial';
}
#iKioskCMSeditor #layoutWidget .cms-widget-title {
  background-color: #225074;
  color: #FFF;
  font-size: 13px;
  padding: 10px;
  margin: 0px;
}
#iKioskCMSeditor #layoutWidget .acc-section-trigger {
  cursor: pointer;
  padding: 10px;
  border-bottom: 1px solid #DDD;
  background-color: #FBFBF8;
  font-size: 12px;
}
#iKioskCMSeditor #layoutWidget .acc-section-trigger.accActive {
  font-weight: bold;
  background-color: #000;
  color: #FFF;
}
#iKioskCMSeditor #layoutWidget .acc-section-content {
  display: none;
  max-height: 250px;
  overflow-y: scroll;
  background-color: #FFF;
  padding: 8px;
  border-bottom: 1px solid #EEE;
}
#iKioskCMSeditor #layoutWidget .acc-section-content .layoutItem {
  position: relative;
  border: 1px solid #DDD;
  margin-bottom: 15px;
}
#iKioskCMSeditor #layoutWidget .acc-section-content .layoutItem .layoutImage {
  max-width: 100%;
  min-height: 100px;
}
#iKioskCMSeditor #layoutWidget .acc-section-content .layoutItem .layoutTitle {
  color: #ccc;
  text-align: center;
  background-color: #666;
  padding: 3px;
}
#iKioskCMSeditor #layoutWidget .acc-section-content .layoutItem.ui-draggable-dragging {
  width: 200px;
}
#iKioskCMSeditor #redactorEditor .cms-element-hover {
  outline: #2c699d solid 1px;
}
#iKioskCMSeditor #redactorEditor .cms-placeholder {
  border: 1px dotted #CCC;
}
#iKioskCMSeditor #redactorEditor .ui-draggable {
  cursor: move;
}
#iKioskCMSeditor #redactorEditor .cms-selected-element {
  outline: #2c699d dashed 3px !important;
  background-color: rgba(255, 255, 255, 0.25);
}
#iKioskCMSeditor #redactorEditor .ui-resizable-handle {
  background: none repeat scroll 0 0 #FFFFFF;
  display: block;
  font-size: 0.1px;
  height: 9px;
  margin: 0 !important;
  min-height: 0 !important;
  min-width: 0 !important;
  outline: 1px solid #CCC;
  padding: 0 !important;
  position: absolute;
  width: 9px;
  z-index: 2147483647;
}
#iKioskCMSeditor #redactorEditor .ui-resizable-disabled .ui-resizable-handle, #iKioskCMSeditor #redactorEditor .ui-resizable-autohide .ui-resizable-handle {
  display: none;
}
#iKioskCMSeditor #redactorEditor .ui-resizable-n {
  cursor: n-resize;
  left: 50% !important;
  margin-left: -5px !important;
  top: -5px !important;
  width: 9px !important;
  height: 9px !important;
}
#iKioskCMSeditor #redactorEditor .ui-resizable-s {
  bottom: -5px !important;
  cursor: s-resize !important;
  left: 50% !important;
  margin-left: -5px !important;
  width: 9px !important;
  height: 9px !important;
}
#iKioskCMSeditor #redactorEditor .ui-resizable-e {
  cursor: e-resize !important;
  margin-top: -5px !important;
  right: -5px !important;
  top: 50% !important;
  width: 9px !important;
  height: 9px !important;
}
#iKioskCMSeditor #redactorEditor .ui-resizable-w {
  cursor: w-resize !important;
  left: -5px !important;
  margin-top: -5px !important;
  top: 50% !important;
  width: 9px !important;
  height: 9px !important;
}
#iKioskCMSeditor #redactorEditor .ui-resizable-se {
  bottom: -5px !important;
  cursor: se-resize !important;
  right: -5px !important;
  width: 9px !important;
  height: 9px !important;
}
#iKioskCMSeditor #redactorEditor .ui-resizable-sw {
  bottom: -5px !important;
  cursor: sw-resize !important;
  left: -5px !important;
}
#iKioskCMSeditor #redactorEditor .ui-resizable-nw {
  cursor: nw-resize !important;
  left: -5px !important;
  top: -5px !important;
  width: 9px !important;
  height: 9px !important;
}
#iKioskCMSeditor #redactorEditor .ui-resizable-ne {
  cursor: ne-resize !important;
  right: -5px !important;
  top: -5px !important;
  width: 9px !important;
  height: 9px !important;
}
#iKioskCMSeditor.cms-layout-editor .cms-selected-element {
  outline: none !important;
}
#iKioskCMSeditor.cms-layout-editor .cms-element-hover {
  outline: none !important;
}
#iKioskCMSeditor.cms-layout-editor .cms-element-hover.cms-level {
  outline: 2px dashed #95A5A6 !important;
  cursor: pointer;
}
#iKioskCMSeditor.cms-layout-editor .cms-placeholder {
  background-color: #E1E0E0 !important;
  border: 3px dashed #95A5A6 !important;
  height: 150px;
}

.modal-backdrop {
  z-index: 5000;
}

.modal {
  z-index: 5050;
}

.ikiosk-cms-editor {
  font-size: 13px !important;
}
.ikiosk-cms-editor .form-control {
  height: 32px;
}
.ikiosk-cms-editor .cmsIcons {
  text-align: center;
}
.ikiosk-cms-editor .cmsIcons a {
  display: block;
  padding: 15px;
}
.ikiosk-cms-editor .cmsIcons a:hover {
  text-decoration: none;
}
.ikiosk-cms-editor .cmsIcons i {
  display: block;
  margin-bottom: 15px;
}
.ikiosk-cms-editor .cmsIcons .btn {
  margin-bottom: 15px;
}

.system-message {
  display: none;
}
